<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Detail</title>
    <link rel="stylesheet" href="/styles/emailDetail.css" />
  </head>

  <body>
    <h1>Email Detail</h1>

    <button onclick="window.location.href='/inbox'">Inbox</button>
    <button onclick="window.location.href='/outbox'">Outbox</button>

    <div class="button-container">
      <button onclick="window.location.href='/logout'" class="logout-button">
        Logout
      </button>
    </div>

    <table>
      <tr>
        <td class="label">From:</td>
        <td><%= data.sender.name %> (<%= data.sender.email %>)</td>
      </tr>
      <tr>
        <td class="label">To:</td>
        <td><%= data.receiver.name %> (<%= data.receiver.email %>)</td>
      </tr>
      <tr>
        <td class="label">Subject:</td>
        <td><%= data.subject %></td>
      </tr>
      <tr>
        <td class="label">Message:</td>
        <td><%= data.message %></td>
      </tr>
      <tr>
        <td class="label">Sent:</td>
        <td><%= data.sendDate %></td>
      </tr>
    </table>
    <% if (data.attachment) { %>
    <button onclick="window.location.href='/downloadAttachment/<%= data.id %>'">
      Download Attachment
    </button>
    <% } %>
    <br /><button
      onclick="window.location.href='/compose/<%= data.sender.id %>/<%= data.receiver.id %>/<%= data.subject %>'"
    >
      Reply
    </button>
  </body>
</html>
